/** universal*/
@font-face{
  font-family: 'Adventure-Time';
  src: url('./data/Fonts/Adventure\ Time\ Logo.ttf');
}
h1{
  margin:0;
}
.continue{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border:none;
}
.continue1{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border:none;
}
.characterLeft, .characterRight{
  position: relative;
}
.characterLeftImg{
  position: absolute;
  height: 80vh;
  top:20vh;
  left:2vw;
}
.characterRight img{
  position: absolute;
  height: 80vh;
  top:20vh;
  right:10vw;
}
.textBubble{
  background-color: #ffffff;
  position: absolute;
  height: 15vh;
  width: 25vw;
  border-radius: 25px;
  top: 30vh;
  left:50vh;
  border: 10px solid black;
}
.textBubble div{
  position: relative;
  left: 0px;
  width:95%;
  
}
.textBubble div h1{
  position: relative;
  left: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  
}
.textBubbleright{
  background-color: #ffffff;
  position: absolute;
  height: 15vh;
  width: 25vw;
  border-radius: 25px;
  top: 30vh;
  right:70vh;
  border: 10px solid black;
}
.textBubbleright div{
  position: relative;
  left: 0px;
  width:85%;
  
}
.textBubbleright div h1{
  position: relative;
  left: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  
}

/**index page*/
.title-image{
  height:27rem !important;
  width: 53rem !important;
}
.main{
  padding: 0;
  margin: auto;
  height: min-content;
  width: min-content;
  white-space: nowrap;
  color: rgb(255, 0, 0);
  font-family: 'Adventure-Time';
  text-align: center;
}
.main{
  font-size: 6rem;
  line-height: .5;
  -webkit-text-stroke: .5px black;
}
#main-intro{
  display: grid;
  text-align: center !important;
  height:100vh;
  width: 100vw;
  margin: 0;
  background: url(./data/photos/main\ page\ background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.start-button{
  height:min-content;
  width:min-content;
  margin:auto;
  text-decoration: none;
}
.start-button button{
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  font-size: 5rem;
  font-family: 'Adventure-Time';
  -webkit-text-stroke: 5px black;
  border:solid 4px rgb(22, 0, 37);
  border-radius: 50px;
  transition: .5s;
  padding-left:30px;
  padding-right:30px;
}
.start-button button:hover{
  background-color: #330000;
  cursor: pointer;
}
.start-button button:focus{
  outline: none;
  box-shadow: none;
}

/**chapter1*/
.chapter1{
  background: url(./data/photos/1stpuzzlebackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.chapter1hallway{
  height:100vh;
  width: 100vw;
  background: url(./data/chapter1backgrounds/hallway.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.chapter1bedroom{
  position: relative;
  height:100vh;
  width: 100vw;
  background: url(./data/chapter1backgrounds/bedroom1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

.BMO{
  display: grid;
  grid-template-rows: auto auto;
  height: 100vh;
  width: 100vw;
  background-color: rgb(58, 255, 222);
  
}
.screen{
  height: 60vh;
  width: 80vw;
  margin:auto;
  background-color: rgba(70, 199, 53, 0.322);
  border-radius: 25px;
}
.buttons{
  display: grid;
  grid-template-columns: auto auto;
}
.dpad{
  display:grid;
  justify-content: center;
  grid-template-rows: auto auto auto;
  padding:5vh;
}
.dpad button{
  border:none;
}
.col{
  display:grid;
  grid-template-columns: auto auto auto;
}
.col button{
  background-color: yellow;
  
}
.col button:active{
  background-color: yellow;
}
.col button:focus{
  outline:0;
}

.up{
  width:10vw;
  
}
.up button{
  border:solid 2px black;
  border-bottom:none;
}
.up button:active{
  border:none;
}
.side{
  width:10vw;
}
.side button{
  border: solid 2px black;
}
.left {
  border: solid 2px black;
}
.left:active{
  border:none;
}
.right {
  border:none;
}
.right:active{
  border:none;
}
.down{
  width:10vw;
}
.down button{
  border:solid 2px black;
  border-top:none;
}
.down button:active{
  border:none;
}
.filler{
  background-color:yellow;
}
.filler:focus{
  outline: none;
}
.navigators{
  display:grid;
  grid-template-columns: 10rem 10rem;
  align-items: center;
  justify-content: center;
  
}
.navigators button{
  height: 5rem;
  width: 5rem;
  border:6px solid black;
  border-bottom:none;
  border-right:none;
  border-radius: 50%;
}
.navigators button:active{
  border:none;
  outline:0;
}
.navigators button:focus{
  outline:0;
}
.b{
  background-color:rgb(255, 0, 0);
}
.a{
  background-color:blue
}

/** chapter 2*/
.outside-house{
  height:100vh;
  width: 100vw;
  background: url(./data/photos/1stpuzzlebackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}



/**error page*/