/** universal*/
@font-face{
  font-family: 'Adventure-Time';
  src: url('./data/Fonts/Adventure\ Time\ Logo.ttf');
}
h1{
  margin:0;
}
.continue{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border:none;
}
.continue1{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border:none;
}
.characterLeft, .characterRight{
  position: absolute;
}
.characterLeftImg{
  position: absolute;
  height: 80vh;
  top:20vh;
  left:2vw;
}
.characterRight img{
  position: absolute;
  height: 80vh;
  top:20vh;
  left:60vw;
}
.textBubble{
  background-color: #ffffff;
  position: absolute;
  height: 50px;
  width: 200px;
  border-radius: 25px;
  top: 30vh;
  left:50vh;
  border: 2px solid black;
}
.textBubble div{
  position: relative;
  left: 0px;
  width:90%;
  
}
.textBubble div h1{
  position: relative;
  left: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  
}

/**index page*/
.title-image{
  height:100px;
  width: 180px;
}
.main{
  padding: 0;
  margin: auto;
  height: min-content;
  width: min-content;
  white-space: nowrap;
  color: rgb(255, 0, 0);
  font-family: 'Adventure-Time';
  text-align: center;
}
.main{
  font-size: 40px;
  line-height: .5;
  -webkit-text-stroke: .5px black;
}
#main-intro{
  display: grid;
  text-align: center !important;
  height:100vh;
  width: 100vw;
  margin: 0;
  background: url(./data/photos/main\ page\ background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.start-button{
  height:min-content;
  width:min-content;
  margin:auto;
  text-decoration: none;
}
.start-button button{
  background-color: #ff0000;
  color: rgb(255, 255, 255);
  font-size:medium;
  font-family: 'Adventure-Time';
  -webkit-text-stroke: .5px black;
  border:solid 2px rgb(22, 0, 37);
  border-radius: 5px;
  transition: .5s;
}
.start-button button:hover{
  background-color: #330000;
  cursor: pointer;
}
.start-button button:focus{
  outline: none;
  box-shadow: none;
}

/**chapter1*/
.chapter1{
  background: url(./data/photos/1stpuzzlebackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}


/**error page*/